.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color:rgb(209, 207, 207) ;
  z-index: 100;
  
}

.left-section{
  
  align-items: center;
  display: flex;
}

  .hamburger-menu{
    height: 20px;
    margin-right: 24px;
    margin-left:20px;
    height:35px;
  }

  .youtube-logo{
    height: 20px;
  }
.middle-section{
  
  display: flex;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
  align-items: center;
  
 
}
.search-bar{
  flex: 1;
  height: 34px;
 width: 0;
    padding-left: 12px;
    border-width:1px ;
  border-style: solid;
  border-color: rgb(184, 171, 171);
  border-radius: 2pxs;
  box-shadow: inset 1px 2px 3px 
  rgba(0, 0, 0, 0.05);
  position: relative;
  
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-app-container .tooltip,
.notifications-icon-container .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px;
  font-family: Roboto, Arial;
  border-radius: 2px;
  font-size: 12px;
  bottom: -23px;
  opacity: 0;
  transition: opacity 0.15s ;
  pointer-events: none;
  white-space: nowrap;
  
  
}

.search-bar ::placeholder{
  font-family: Robot,  Arial;
  font-size: 16px;
  

}

.search-icon{
  height: 25px;
  margin-top: 4px ;
  
}

.search-button{
  width: 66px;
  height: 37px;
  background-color: rgb(239, 237, 237);
  border-width: 1px;
  border-style: solid;
 border-color: rgb(184, 171, 171);
 margin-left: -1px ;
 margin-right: 5px;
}

.voice-search-button{
   width: 40px;
   height: 40px;
   border-radius: 20px;
   border: none;
   background-color:rgb(245, 245, 245) ;
}

.voice-search-icon{
  height: 24px;
  margin-top: 4px;
}

.right-section{
  margin-right: 20px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.current-user-picture{
  height: 30px;
  border-radius: 15px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-app-container:hover .tooltip,
.notifications-icon-container:hover .tooltip
{
  opacity: 1;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-app-container,
.notifications-icon-container
{
  position: relative;
  display: flex;
  justify-content: center;
  
}
