.sidebar{
  position: fixed;
  background-color: white;
  bottom: 0;
  left: 0;
  top: 55px;
  width: 75px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
   height: 74px;
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  }

.sidebar-link:hover{
  background-color: rgb(220, 217, 217);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 4px ;
  
 }

 .sidebar-link div{
   font-family: Roboto, Arial;
   font-size: 12px;
 }